.places {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.places > h1 {
	margin: 30px 0 0 30px;
	font-size: 30px;
	width: 100%;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: #FF5A5F solid 1px;
	border-radius: 4px;
	position: relative;
}

.places article > h2 {
	font-size: 30px;
	text-align: center;
}

.places article .price_by_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 100%;
	height: 60px;
	min-width: 60px;
	width: 60px;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	padding: 40px;
	margin-bottom: 10px;
	margin-top: -35px;
}

.places article .information {
	height: 80px;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
}

.max-guest, .number-rooms, .number-bathrooms {
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-position: center 30%;
	background-repeat: no-repeat;
	padding: 0 0 4px 0;
}

.max-guest {
	background-image: url('../images/icon_group.png');
}

.number-rooms {
	background-image: url('../images/icon_bed.png');
}

.number-bathrooms {
	background-image: url('../images/icon_bath.png');
}

.places article .user {
	display: block;
	word-spacing: 5px;
	width: 100%;
	margin: 25px 0px 10px 0;
}

article > .description + .amenities {
	flex-flow: column wrap;
}

article > .description + .amenities > h2 {
	margin-top: 40px;
	padding-bottom: 6px;
	font-size: 16px;
	border-bottom: 1px solid #DDD;
}

article > .description + .amenities > ul li {
	list-style-type: none;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	padding-left: 40px;
	height: 30px;
	margin-top: 6px;
}

article > .amenities + .reviews > h2 {
	margin-top: 40px;
	padding-bottom: 6px;
	font-size: 16px;
	border-bottom: 1px solid #DDD;
}

article > .amenities + .reviews > ul {
	list-style-type: none;
}

article > .amenities + .reviews > ul h3 {
	font-size: 14px;
	margin-top: 15px;
}

article > .amenities + .reviews > ul p {
	font-size: 12px;
}

article > .description + .amenities > ul .tv {
	background-image: url('../images/icon_tv.png');
	background-repeat: no-repeat;
	background-size: contain;
}

article > .description + .amenities > ul .wifi {
	background-image: url('../images/icon_wifi.png');
	background-repeat: no-repeat;
	background-size: contain;
}

article > .description + .amenities > ul .pet {
	background-image: url('../images/icon_pets.png');
	background-repeat: no-repeat;
	background-size: contain;
}

footer {
	position: relative;
}
